.build/
.swiftpm/
.swiftpm-module-cache/
DerivedData/
build/
*.app
*.appex
*.xctest
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo
*.abi.json
*.o
*.d
*.dia
*.swiftdeps
*.swiftdeps~
*.hmap
*.xcbuilddata/
XCBuildData/
